.canvas {
    margin-top: 8rem;
    height: 42rem;
    width: 50rem;

}
.viewer-master {
    display: flex;
    justify-content: center;
    background-image: url('../images/login-page-background.jpg'); 

}