    
  .master{
    display: flex;
    text-align: center;
    position: relative;
    justify-content: center;
    flex-direction: column;
  }
  .NavbarItems .website-logo {
    display: flex;
    align-items: center;
  }
  
  .NavbarItems .website-logo i {
    width: 5em;
    height: 10em;
    background-color: #01959a;
    padding-left: 0.3em;
    margin-right: 0.5em; /* Add margin to create space between icon and text */
  }
  
  
  .search {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    height: 5.5em;
  }
  .search input{
    outline: 0;
    border: 0;
    padding: 0 0.5rem;
    width: 20em;

  }
  .search button{
    background-color: white;
    border: none;
    height: 100%;
  }
  .search i {
    font-size: 22px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .master .filterModal{
        top: 400px;
        font-family:cursive;
        position:relative;
        z-index: 10;
  }
  /* @media screen and (max-height: 45em)
 {
    .master .filterModal {

    }
 }   */
 .NavbarItems {
    display: flex;
    background-color: white;
    justify-content: center; /* Center the contents horizontally */
    align-items: center;
    padding: 0 2.5em;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25);
    width: 95%;
    height: 5.5em;
    border-radius: 0.8em;
    position: fixed;
    top: 1.2em;
    left: 50%;
    transform: translate(-50%);
    z-index: 2000;
  }
  
.container {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 8em;
    width: 65%;
    height: 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, minmax(14rem, 0.5fr));
    grid-gap: 20px;
    box-sizing:border-box; 
}
.navbar-logo{
    color : #222;
    font-size: 2em;
    cursor: pointer;
}
.search-bar{
    margin-left: 3em;
    padding: 0.7rem 1em;
    white-space: nowrap;
    z-index: 9999;
}
.form-control{
    border-radius: 2em;
    width : 35em;
    height : 2em;
    border-color : #222;
}
.form-button{
    background-color: white;
    border: none;
    cursor : pointer;
}
.form-button i{
    font-size: 1.2em;
    color: #222;
    padding: 0.5rem 0.5rem 0.5rem 0.5em;
}
.menu-icons{
    display: none;
}
.navbar-menu{
    display : grid;
    margin-top: 1.1rem;
    grid-template-columns: repeat(7, auto);
    grid-gap : 0.2em;
    list-style : none;
    align-items : center;
}
.navbar-logo {
        color : #222;
        font-size: 2.4em;
        cursor: pointer;
        text-decoration: none;
        font-weight : 700;
        padding : 0.7rem 1em;
        white-space: nowrap;
        margin: 0;
}
.navbar-links{
    text-decoration: none;
    color : #222;
    font-size: 1.2em;
    font-weight : 700;
    padding : 0.7rem 1em;
    white-space: nowrap;
}
.navbar-links i{
    padding-right: 0.3em;
}
.navbar-links:hover{
    background-color:rgb(46, 169, 169);
    font-size: 1.2em;
    font-weight : 600;
    white-space: nowrap;
    color:#fff;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
}
/* .navbar-links-mobile{
    background-color:rgb(46, 169, 169);
    color:#fff;
    font-size: 1.2em;
    font-weight : 600;
    white-space: nowrap;
    border-radius: 4px;
    padding : 0.7rem 1em;
    transition: all 0.2s ease-in-out;
} */
.navbar-links-mobile{
    background-color:rgb(46, 169, 169);
    color:#fff;
    font-size: 1em;
    font-weight : 600;
    white-space: nowrap;
    border-radius: 4px;
    padding : 0.5rem 0.9em;
    transition: all 0.2s ease-in-out;
    border: none;
    cursor : pointer;
}

.navbar-links-mobile:hover {
    background-color: #01959a;

}

@media screen and (max-width: 45em) {
.container{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    top: 8em;
    width: 65%;
    height: 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, minmax(14rem, 0.5fr));
    grid-gap: 20px;
    box-sizing:border-box; 
}
}
@media screen and (min-width: 45em) and (max-width: 65em) {
    .container {
        position: relative;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        top: 8em;
        width: 65%;
        height: 20px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(3, minmax(14rem, 0.5fr));
        grid-gap: 20px;
        box-sizing:border-box; 
    }
    .navbar-menu{
        display : flex;
        flex-direction: column;
        justify-content: flex-start;
        text-align: center;
        background-color: white;
        width: 100%;
        height: auto;
        position : absolute;
        top: 0;
        left: -100%; /*this hides the menubar until active, it will show in active clas*/
        opacity: 0;
        align-items: stretch;
        padding: 80px 0 30px 0;
        margin: 0;
        z-index: -1;
        transition: 0.3s ease-in-out;

    }
    .navbar-menu.active{
        left: 0; /*the menubar is activated here by showing it on the screen*/
        opacity: 1;
        z-index: -1;
        transition: 0.3s ease-in-out;
        border-radius: 13px;
    }
    .navbar-links{
        display: block;
        width: 100%;
        font-size: 1.2em;
        padding: 2rem 0;
    }
    .navbar-links:hover{
        background-color:rgb(46, 169, 169);
        transition: none;
    }
    button{
        display: none;
    }
    .navbar-links-mobile{
        display: block;
        text-align: center;
        padding: 1.5rem ;
        margin: auto;
        border-radius: 4px;
        width: 80%;
        background-color: #01959a;
        text-decoration: none;
        color: white;
        font-size: 1.2em;
        font-weight: 700;
        letter-spacing: 2px;
    }
    .search-bar{
        display: flex;
        z-index: 99;
    }
    .NavbarItems{
        z-index: 99;
    }
    .menu-icons{
        display: block;
        cursor: pointer;
    }
    .menu-icons i{
        font-size: 1.2em;
        color: #222;
    }

    
}